:root {
    --primary-color: dodgerblue;
    --font-color: white; 
}

body {
    margin: 0;
    background-color: #e3e3e3;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234f4f51' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    color: var(--font-color); 
    font-size: 35px;
}

.player {
    min-width: 800px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: dodgerblue;
    position: relative;
}

video {
    border-radius: 5px;
}

.controls-container {
    position: absolute;
    width: 100%;
    height: 100px; 
    margin-top: -95px;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.progress-range {
    height: 8px;
    width: calc(100% - 30px);
    background: rgba(0, 0, 0, .5);
    margin: auto;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    transition: height 0.1s ease-in-out;
}

.progress-range:hover {
    height: 10px;
}

.progress-bar {
    background: var(--primary-color);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.1s;
}

.main-controls {
    width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.controls-left, .controls-right {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
    top: 40px;
}

.controls-left {
    justify-content: flex-start;
    margin-left: 15px;
}

.player-controls {
    margin-right: 15px;
}

.controls-right {
    justify-content: flex-end;
    margin-right: 15px;
}

.speed, .time {
    position: relative;
    top: 10px;
}

.speed {
    margin-right: 15px;
}

.time {
    margin-right: 15px; 
    color: var(--font-color);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

